.loader__text {
  padding-bottom: 1.5rem;
  color: #ffffff;
  font-size: 1.25rem;
  text-align: center;
}

.loader__spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(28,165,191);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}